<style>
  #myProgress {
    width: 100%;
    background-color: rgb(223, 223, 223);
    margin: 6.3% 5%;
  }

  #myBar {
    height: 30px;
    background-color: #51bcda;
  }
</style>

{{!-- ROW1 --}}

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-diagnoses" style="color: #3497e9;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">LEVEL</p>
              <p class="card-title">{{userData.level}}<p>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="myProgress">
          <div id="myBar" style="width: {{userData.levelBar}}%;"></div>
          </div>
        </div>


      </div>
      <div class="card-footer ">
        <hr>
        <div id="cardEXP" class="stats">
          EXP: {{userData.exp}}/{{userData.maxExp}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <center>
        <h3>UPGRADE</h3>
        <hr>
        <p id="cardUpgradePoint"class="card-category" style="font-size:20px;">Point: {{userData.point}}</p>
        <div class="row">
          <div class="col-5 col-md-4">
            <div style="font-size:50px; cursor:pointer;"onclick="upgradeHP()">
              <i class="fas fa-heart text-danger"> +</i>
              <p id="upgradeHPLevel"style="font-size: 25px;">Level {{userData.hpLevel}}</p>              
            </div>
          </div>

          <div class="col-5 col-md-4">
            <div style="font-size:50px; cursor:pointer;"onclick="upgradeINT()">
              <i class="fas fa-brain" style="color:#3497e9;"> +</i>    
              <p id="upgradeINTLevel"style="font-size: 25px;">Level {{userData.intLevel}}</p>           
            </div>
          </div>

          <div class="col-5 col-md-4">
            <div style="font-size:50px; cursor:pointer;"onclick="upgradeSTR()">
              <i class="fas fa-fist-raised" style="color:red;"> +</i>    
              <p id="upgradeSTRLevel"style="font-size: 25px;">Level {{userData.strLevel}}</p>         
            </div>
          </div>
          
        </div>
        
        </center>
      </div>
      <div class="card-footer ">
        <div class="stats">
        </div>        
      </div>
    </div>
  </div>
</div>
<hr>
{{!-- ROW2 --}}
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-heart text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Health</p>
              <p id="hp" class="card-title">HP: {{userData.hp}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="hpLevel" class="stats">
          Level {{userData.hpLevel}}
        </div>        
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-brain" style="color:#3497e9;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Intelligence</p>
              <p id="mana" class="card-title">MANA: {{userData.mana}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="intLevel" class="stats">
          Level {{userData.intLevel}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-fist-raised" style="color:red;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Strength</p>
              <p id="atk" class="card-title">ATK: {{userData.atk}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div id="strLevel" class="stats">
          Level {{userData.strLevel}}
        </div>
      </div>
    </div>
  </div> 
</div>

<hr>
{{!-- ROW3--}}

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fab fa-d-and-d" style="color:orange;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">QUESTS</p>
              <p id="questCount" class="card-title">{{userData.questsCount}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="questsCompleted" class="stats">
          QUESTS COMPLETED: {{userData.questsCompleted}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-journal-whills" style="color:#624a2e;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">SKILL LEARNED</p>
              <p id="skillLearned" class="card-title">0
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="totalHours"class="stats">
          Total Hours: 0
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-coins" style="color:#FFDF00;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">GOLD</p>
              <p id="gold" class="card-title">{{userData.gold}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="goldTotal" class="stats">
          Total Earned: {{userData.goldTotal}}
        </div>
      </div>
    </div>
  </div>  
</div>


<script src="/home/home.js"></script>




