<style>
  #myProgress {
    width: 100%;
    background-color: rgb(223, 223, 223);
    margin: 3% 5%;
  }

  #myBar {
    height: 30px;
    background-color: #51bcda;
  }
</style>

<div class="row">
  <div class="col-lg-12 text-center" >
    <h3 class="card pt-3">STATS</h3>
  </div>
</div>  

{{!-- ROW1 --}}

<hr>
<div class="row">
  <div class="col-lg-4">
    <div class="card card-user">
              <div class="image">
                <img src="/assets/img/index-bg-night.png" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" style="background-color:white;" src="/assets/img/profile.webp" alt="...">
                    <h5 class="title">{{userData.username}}</h5>
                  </a>
                  <p class="description">
                    <h5>Level {{userData.level}}</h5>
                  </p>
                </div>
                <p class="description text-center">
                    <div class="row">
                      <div id="myProgress">
                        <div id="myBar" style="width: {{userData.levelBar}}%;"></div>
                      </div>
                    </div>
                </p>
                <div class="text-center" style="">
                  EXP {{userData.exp}}/{{userData.maxExp}}
                </div>
              </div>
              <div class="card-footer">
                <br><br>
              </div>
    </div>
  </div>

  <div class="col-lg-8">
    
    <div class="card">
              <div class="card-header">
                
                <h3 class="card-title text-center" ><i class="fab fa-studiovinari pr-2 h3"></i>STATS LEVEL</h3>
                <hr>
              </div>
              <div class="card-body" style="font-size:22.5px;">
                <ul class="list-unstyled team-members">
                  <li>
                    <div class="row pl-4">
                      <div class="col-1">   
                                           
                      </div>
                      <div class="col-7">                       
                        Stat Point
                      </div>
                      <div class="col-2 text-right">                         
                        {{userData.point}}
                      </div>
                      <div class="col-2 text-left">
                        
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row pl-4 mt-sm-4">
                      <div class="col-1">   
                        <i class="fas fa-heart text-success text-right" style="font-size:35px;"></i>                        
                      </div>
                      <div class="col-7">                       
                        Health
                      </div>
                      <div class="col-2 text-right">                         
                          {{userData.hpLevel}}
                      </div>
                      <div class="col-2 text-left">
                        <i class="fas fa-arrow-alt-circle-up text-success" onclick="upgradeHP()"style="font-size:40px; cursor:pointer;"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row mt-sm-4 pl-4">
                      <div class="col-1">
                        <i class="fas fa-brain" style="color:#3497e9; font-size:30px;"></i> 
                      </div>
                      <div class="col-7">
                        Intelligence  
                      </div>
                      <div class="col-2 text-right">
                        {{userData.intLevel}}
                      </div>
                      <div class="col-2 text-left">
                        <i class="fas fa-arrow-alt-circle-up text-success" onclick="upgradeINT()"style="font-size:40px; cursor:pointer;"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row mt-sm-4 pl-4">
                      <div class="col-1">
                        <i class="fas fa-fist-raised pl-1 " style="color:red; font-size:35px;"></i>
                      </div>
                      <div class="col-7">
                        Strength
                      </div>
                      <div class="col-2 text-right">
                        {{userData.strLevel}}
                      </div>
                      <div class="col-2 text-left">
                        <i class="fas fa-arrow-alt-circle-up text-success" onclick="upgradeSTR()"style="font-size:40px; cursor:pointer;"></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
    </div>
  </div>
</div>
<hr>

{{!-- ROW2 --}}
<div class="row">
  <div class="col-lg-4">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-heart text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Health</p>
              <p id="hp" class="card-title">HP</p>
              <p class="card-title">{{userData.hp}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="hpLevel" class="stats">
          Level {{userData.hpLevel}}
        </div>        
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-brain" style="color:#3497e9;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Intelligence</p>
              <p id="mana" class="card-title">MANA</p>
              <p class="card-title">{{userData.mana}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="intLevel" class="stats">
          Level {{userData.intLevel}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-fist-raised" style="color:red;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Strength</p>
              <p id="atk" class="card-title">ATK</p>
              <p class="card-title">{{userData.atk}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div id="strLevel" class="stats">
          Level {{userData.strLevel}}
        </div>
      </div>
    </div>
  </div> 
</div>

<hr>
{{!-- ROW3--}}

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fab fa-d-and-d" style="color:orange;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">QUESTS</p>
              <p id="questCount" class="card-title">{{userData.questsCount}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="questsCompleted" class="stats">
          QUESTS COMPLETED: {{userData.questsCompleted}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-journal-whills" style="color:#624a2e;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">SKILL LEARNED</p>
              <p id="skillLearned" class="card-title">0
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="totalHours"class="stats">
          Total Hours: 0
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-coins" style="color:#FFDF00;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">GOLD</p>
              <p id="gold" class="card-title">{{userData.gold}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="goldTotal" class="stats">
          Total Earned: {{userData.goldTotal}}
        </div>
      </div>
    </div>
  </div>  
</div>


<script src="/home/home.js"></script>




