

<div class="row">
    <div class="col-lg-12 text-left">
        <button class="btn btn-info" onclick="addQuest()" style="font-size:25px; cursor:pointer; ">Add Quest</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center" >
        <h3 class="card pt-3 " style="background-color:azure;" >QUESTS</h3>
    </div>
</div>
<br>
<div class="row">

    {{#each questsData}}
  
    {{#unless this.completed}}
        <div class="col-lg-4">
            <div class="card" >
                <div class="card-header">   
                    <div class="row">
                        <div class="col-9"><h5 class="card-title text-left text-danger" >{{this.title}}</h5></div>
                        <div class="col-3 text-right"><button class="btn btn btn-light btn-round btn-icon" onclick="deleteQuest('{{this._id}}')"><i class="fas fa-times"></i></button></div>
                    </div>
                    <p style="font-size: 15px">{{this.type}}</p>   
                    <hr>                  
                </div>
                <div class="card-body" style="font-size:15px;">
                    <p>{{this.description}}</p> 
                </div>               
                <div class="card-footer text-center" style="font-size:20px;">
                    <div class="row mb-2">
                        <div class="col-8 text-left">
                            EXP {{this.exp}}
                        </div>
                        <div class="col-4 text-right">
                        <i class="fas fa-coins" style="color:#FFDF00;"></i> {{this.gold}}
                        </div>                                        
                    </div>
                    <button type="button" onclick="completeQuest('{{this._id}}')"class="btn btn-success" style="font-size: 15px;">Complete</button>    
                </div>
            </div>
        </div>
    {{/unless}}
    {{/each}}
</div>

<br><br><br><hr>

<div class="row">
    <div class="col-lg-12 text-center" >
        <h3 class="card pt-3" style="background-color:azure;">COMPLETED</h3>
    </div>
</div>
<br>
<div class="row">
    {{#each questsData}}
  
    {{#if this.completed}}
        <div class="col-lg-4">
            <div class="card" style="background-color:#bababa">
                <div class="card-header">   
                    <div class="row">
                        <div class="col-9"><h5 class="card-title text-left" >{{this.title}}</h5></div>
                        <div class="col-3 text-right"><button class="btn btn btn-secondary btn-round btn-icon" onclick="deleteQuest('{{this._id}}')"><i class="fas fa-times"></i></button></div>
                    </div>
                    <p style="font-size: 15px">{{this.type}}</p>   
                    <hr>                  
                </div>
                <div class="card-body" style="font-size:15px;">
                    <p>{{this.description}}</p> 
                </div>               
                <div class="card-footer text-center" style="font-size:20px;">
                    <div class="row mb-2">
                        <div class="col-8 text-left">
                            EXP {{this.exp}}
                        </div>
                        <div class="col-4 text-right">
                        <i class="fas fa-coins" style="color:#FFDF00;"></i> {{this.gold}}
                        </div>                                        
                    </div>
                    <button type="button" onclick="redoQuest('{{this._id}}')"class="btn btn-secondary" style="font-size: 15px;">Re-do</button>    
                </div>
            </div>
        </div>
    {{/if}}
    {{/each}}
</div>


 <script src="/quests/quests.js"></script>


