
<div class="row">
    <div class="col-lg-12 text-left">
        <button class="btn btn-info" onclick="addReward()" style="font-size:25px; cursor:pointer; ">Add Rewards</button>
    </div>

</div>
<div class="row">
    <div class="col-lg-12 text-center " >
        <h3 class="titleBar card pt-3 ">Rewards <i class="fas fa-coins" style="color:#FFDF00;"> {{userData.gold}}</i> </h3>
    </div>
</div>
<br>
<div class="row">

    {{#each rewardsData}}
  
            <div class="col-lg-4">

                <div class="card pl-2" >
                    <div class="card-header">   
                        <div class="row">
                            <div class="col-9"><i class="fas fa-shopping-basket text-success" style="font-size:40px;"></i><h5 class="card-title text-danger">{{this.title}}</h5></div>
                            <div class="col-3 text-right"><button class="btn btn btn-light btn-round btn-icon" onclick="deleteReward('{{this._id}}')"><i class="fas fa-times"></i></button></div>
                        </div> 
                        <hr>                  
                    </div>
                    <div class="card-body" style="font-size:20px;">
                        <p class="text-info ">Description</p>     
                        <p class="description " style="font-size:15px;">{{this.description}}</p> 
                    </div>               
                    <div class="card-footer text-center" style="font-size:20px;">
                        <div class="row mb-2">
                        <div class="col-12 text-center">
                            <i class="fas fa-coins" style="color:#FFDF00;"></i> {{this.price}}
                        </div>                                      
                    </div>
                    <button type="button" onclick="buyReward('{{this._id}}')"class="btn btn-success" style="font-size: 15px;">Buy</button>   
                    </div>
                </div>
            </div>
    {{/each}} 

</div>




 <script src="/rewards/rewardsJS.js"></script>


