<div class="sidebar-wrapper">
    <ul class="nav">

        <li class="{{sidebar1}}">
        <a href="./home">
            <i class="fas fa-home"></i>
            <p>Home</p>
        </a>
        </li>
        <li class="{{sidebar2}}">
        <a href="./todos">
            <i class="fab fa-d-and-d"></i>
            <p>QUESTS</p>
        </a>
        </li>
            
        <li class="{{sidebar3}}">
        <a href="./boss-fight">
            <i class="fas fa-journal-whills"></i>
            <p>SKILLS</p>
        </a>
        </li>

        <li class="{{sidebar4}}">
        <a href="./boss-fight">
            <i class="fas fa-skull"></i>
            <p>Boss Fight</p>
        </a>
        </li>
        <li class="{{sidebar5}}">
            <a href="./rewards">
            <i class="fas fa-trophy"></i>
            <p>Achievement</p>
            </a>
        </li>
        <li class="{{sidebar6}}">
            <a href="./rewards">
            <i class="nc-icon nc-diamond"></i>
            <p>Rewards</p>
            </a>
        </li>
        <li class="">
            <a href="./setting">
              <i class="fas fa-cog"></i>
              <p>Setting</p>
            </a>
          </li>
    </ul>
</div>